/* Ram för KPI-korten */
[data-testid="stMetric"] {
    background-color: #1A1612;
    border: 1px solid #f7b952;
    border-radius: 8px;
    padding: 1rem;
    text-align: center;
}


/* KPI värde */
[data-testid="stMetricValue"] {
    color: #f5f0e8 !important;
    font-size: 2.5rem !important;
    font-weight: 500 !important;
    text-align: center !important;
}

/* KPI label */
[data-testid="stMetricLabel"] p {
    color: #f5f0e8 !important;
    font-size: 0.9rem !important;
    text-align: center !important;
    width: 100% !important;
}
